[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
plotly = "*"
ipykernel = "*"
nbformat = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.9"
